.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 100px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(14, 243, 6);
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(132, 0, 255);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 0, 76);
}

.menu {
  display: none;
  position: fixed;
  background-color: rgb(25, 228, 228);
  color: rgb(255, 0, 200);
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  z-index: 2;
  width: 200px;
  height: 150px;
  top: 40%;
  right: 45%;
  align-self: center;
  margin: 0 auto;
}
